<!DOCTYPE html>
<html  xmlns:th= "http://www.thymeleaf.org"
       xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> <!-- namespace de seguridad -->
	<head>   
		<title>Listado de Clientes</title>
		<meta charset="UTF-8"/>
	</head>
	<body>
		<section th:fragment="listadoClientes" id="clientes">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="card">
						<div class="card-header">
							<h4>[[#{customerEntity.titulo-lista}]]</h4>
						</div>
						<div th:if="${personas !=null and !personas.empty}">
							<table class="table table-stryped">
								<thead class="thead-dark">
									<tr>
										<th>#</th>
										<th th:text="#{customerEntity.nombre}">Nombre</th>
										<th th:text="#{customerEntity.saldo}">Saldo</th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="customerEntity, contador : ${personas}">
										<td>[[${contador.count}]]</td>
										<td>[[${customerEntity.nombre} + ' ' + ${customerEntity.apellido}]]</td>
										<td>[[${new
											java.text.DecimalFormat('€#,##0.00').format(customerEntity.saldo)}]]</td>

										<td><a sec:authorize="hasRole('ROLE_ADMIN')"
											th:href="@{/editar/} + ${customerEntity.idPersona}"
											class="btn btn-secondary"> <i
												class="fas fa-angle-double-right"></i> [[#{accion.editar}]]
										</a></td>
										<td><a sec:authorize="hasRole('ROLE_ADMIN')"
											th:href="@{/eliminar(idPersona= ${customerEntity.idPersona})}"
											class="btn btn-dark"> <i
												class="fas fa-angle-double-right"></i>
												[[#{accion.eliminar}]]
										</a></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="text-center p-2"
							th:if="${personas ==null or personas.empty}">
							<span th:text="#{customerEntity.lista-vacia}"> Lista vacia</span>
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="card text-center bg-danger text-white mb-3">
						<div class="card-body">
							<h3 th:text="#{customerEntity.saldoTotal}">Saldo total</h3>
							<h4 class="display-4">[[${new
								java.text.DecimalFormat('€#,##0.00').format(saldoTotal)}]]</h4>
						</div>
					</div>
					<div class="card text-center bg-success text-white mb-3">
						<div class="card-body">
							<h3 th:text="#{customerEntity.totalClientes}">Total Clientes</h3>
							<h4 class="display-4">
								<i class="fas fa-users"></i>[[${totalClientes}]]
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
	</body>
</html>