<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
> <!-- namespace de seguridad -->

<head th:replace="layout/plantilla :: head">
    <title>Bienvenido</title>
</head>

<body>

<header th:replace="layout/plantilla :: header"></header>
<section th:replace="layout/botonesAgregar :: botonesAgregar"></section>
<section th:replace="layout/exportPdfButton :: exportPdfButton"></section>
<section th:replace="layout/listadoClientes :: listadoClientes"></section>
<footer th:replace="layout/plantilla :: footer"></footer>

</body>
</html>